/* Contenedor principal de contenido */
.content {
  padding: 2rem;
  text-align: center;
  background-color: #F9F9F9;
}

/* Contenedor de las tarjetas de podcast */
.podcast-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/* Estilo de cada tarjeta de podcast */
.podcast-card {
  background-color: #ffffff;
  /* Fondo blanco limpio */
  border-radius: 12px;
  /* Bordes más redondeados para un diseño suave */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
  /* Sombra sutil para profundidad */
  padding: 2rem;
  max-width: 320px;
  /* Maximizar el tamaño de las tarjetas */
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

/* Estilo de los títulos dentro de las tarjetas */
.podcast-card h4 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #333;
  /* Gris oscuro para los títulos */
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

/* Descripción de cada podcast */
.podcast-card p {
  font-size: 1rem;
  color: #777;
  /* Gris suave para el texto */
  margin-bottom: 1.5rem;
  line-height: 1.5;
  max-height: 100px;
  overflow: hidden;
}

/* Estilo del botón dentro de las tarjetas */
.podcast-card .btn {
  width: 50%;
  background-color: #FF6F00;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem;
}

/* Efecto hover sobre el botón */
.podcast-card .btn:hover {
  background-color: #FF8C1A;
  /* Naranja más brillante */
  color: #F9F9F9;
  /* Color de texto claro */
}

/* Efecto hover en la tarjeta */
.podcast-card:hover {
  transform: translateY(-12px);
  /* Elevar ligeramente la tarjeta */
  box-shadow: 0 12px 25px #00000026;
  /* Sombra más fuerte para dar énfasis */
  background-color: #FAFAFA;
  /* Fondo ligeramente gris claro al hacer hover */
}

.creators-info {
  margin-top: 3rem;
  text-align: center;
}

.creator {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: left;
  border: 1px solid #777;
}

.creator-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.creator-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #FF6F00;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.creator-details {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creator-link {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #0077b5;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.creator-link:hover {
  text-decoration: underline;
}

.creator-link i {
  font-size: 1.2rem;
}

.sub-details {
  display: block;
}