
.revista-preview {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* Estilo para las miniaturas de las revistas */
.revista-thumbnail {
  max-width: 100%;
  border-radius: 12px; /* Bordes más redondeados */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
}

/* Estilo para los botones */
.btn {
  display: inline-block;
  background-color: #FF6F00; 
  text-decoration: none;
  border-radius: 50px; /* Bordes redondeados */
  font-size: 1.4rem; 
  text-align: center;
  width: 20%;
}
.btn a{
  color: white !important;
  font-weight: 600;
}


/* Efecto hover para el botón */
.btn:hover {
  background-color: #FF8C1A; /* Naranja más brillante */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra más fuerte en hover */
}

/* Efecto de enfoque en el botón */
.btn:focus {
  outline: none; /* Remueve el contorno por defecto */
  box-shadow: 0 0 10px rgba(255, 140, 26, 0.8); /* Sombra destacada cuando está enfocado */
}
