body {
  margin: 0;  
}
.app {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4F4F9;
}

.content {
  padding: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.text-content {
  width: 100%;  /* El contenedor de texto ocupa todo el ancho */
  margin-bottom: 20px;  /* Espacio entre el texto y la imagen */
}

.home-img {
  width: 100%;  /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
  display: flex;
  justify-content: flex-end;  /* Alinea la imagen a la derecha */
  padding: 10px;
}

.home-img img {
  width: 50%; 
  border-bottom: solid #FF6F00 2px;

}

.content h3 {
  color: #333333;
  font-weight: 600;
  margin-bottom: 15px;
}

.content p {
  color: #666666;
  line-height: 1.6;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.content a {
  color: #FF6F00;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
  color: #FF8F1F;
}
